/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@import '../variables';

:host {
  .fill {
    width: 100%;
  }

  .table-column {
    display: flex;
  }

  .tab-settings {
    flex: 1;
  }

  .tab-panel-left {
    padding: 0.75rem;
    margin-right: $tab-margin-left-right;
  }

  .tab-preview {
    position: relative;

    .sticky-panel {
      position: fixed;
      color: var(--trj-theme-color);

      .tab-page-table {
        position: absolute;
        background-color: rgba(var(--trj-theme-secondary-700-rgb) / 0.8);
        bottom: 0;
        border-radius: 5px;
        backdrop-filter: blur(3px);
      }
    }
  }
}
