<div>
  <trj-menu-file></trj-menu-file>
  <trj-menu-view></trj-menu-view>
  <trj-menu-window></trj-menu-window>
  <button mat-button (click)="openSettingsDialog()">Settings</button>
  <trj-menu-help></trj-menu-help>
  <trj-menu-debug *ngIf="debugService.debugMode"></trj-menu-debug>
</div>
