/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@import '../../../variables';
@import 'variables';

:host {
  /**
  @remark This part is inspired by: https://stackoverflow.com/a/63823715
  */
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;

    ::ng-deep {
      .mdc-tab {
        justify-content: left;
      }

      .mat-mdc-tab-group {
        flex-direction: row;
        flex: 1;
      }

      .mat-mdc-tab-header {
        border-bottom: none;
      }

      .mat-mdc-tab-header-pagination {
        display: none !important;
      }

      .mat-mdc-tab-labels {
        flex-direction: column;
        border: 1px solid #eaeaea;
        border-right: none;
      }

      .mat-mdc-tab-label {
        justify-content: flex-start;
        transition: background-color 0.6s;

        &[aria-selected='true'] {
          background-color: #eaeaea;
          color: #000;
          opacity: 1;
          pointer-events: none;
        }
      }

      .mat-mdc-ink-bar {
        height: 100%;
        left: 98% !important;
      }

      .mat-mdc-tab-body-wrapper {
        flex: 1 1 auto;
        margin-left: $tab-margin-left-right;
      }

      .mat-mdc-tab-body-content {
        overflow-y: auto;
        overflow-x: hidden;
      }

      // stylelint-disable-next-line selector-class-pattern
      .mdc-tab-indicator .mdc-tab-indicator__content--underline {
        border-top-width: 0;
      }

      .mat-mdc-tab-list {
        border-right: 2px solid var(--trj-theme-primary);
      }
    }
  }
}
