/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.explorer-tree-invisible {
  display: none;
}

.explorer-tree .mat-nested-tree-node div[role='group'] {
  padding-left: 40px;
}

.mat-tree-node {
  min-height: 26px;

  &:hover {
    background-color: var(--trj-theme-secondary-700);
    cursor: pointer;
  }

  &.selected {
    background-color: var(--trj-theme-secondary-700);
    pointer-events: none;
  }
}

.icon-node-type {
  margin-right: 0.4rem;
}

.label-size {
  flex: 1;
  text-align: right;
  font-size: 80%;
}
