/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';
@import 'base-theme';
@import 'scrollbar-helper';

$trj-viewer-angular-dark-primary: mat.define-palette(mat.$blue-gray-palette);
$trj-viewer-angular-dark-secondary: mat.define-palette(mat.$gray-palette);
$trj-viewer-angular-dark-accent: mat.define-palette(
  mat.$blue-gray-palette,
  200,
  100,
  400
);
$trj-viewer-angular-dark-warn: mat.define-palette(mat.$red-palette);
$trj-viewer-angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $trj-viewer-angular-dark-primary,
      accent: $trj-viewer-angular-dark-accent,
      warn: $trj-viewer-angular-dark-warn,
    ),
    typography: $typography-config,
  )
);
$palette-color: map.get($trj-viewer-angular-dark-theme, color);
$background: map.get($palette-color, background);
$text: map.get($palette-color, text);

// must be defined later as rgb...
$theme-secondary-700: mat.get-color-from-palette(
  $trj-viewer-angular-dark-secondary,
  700
);

.dark-theme {
  --trj-theme-primary: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-primary
    )};
  --trj-theme-primary-100: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-primary,
      100
    )};
  --trj-theme-secondary-800: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-secondary,
      800
    )};
  --trj-theme-secondary-700: #{$theme-secondary-700};
  --trj-theme-secondary-600: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-secondary,
      600
    )};
  --trj-theme-background: #{map.get($background, background)};
  --trj-theme-secondary-background: #{map.get($background, card)};
  --trj-theme-tertiary-background: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-secondary,
      900
    )};
  --trj-theme-warn-500: #{mat.get-color-from-palette(
      $trj-viewer-angular-dark-warn,
      500
    )};
  --trj-theme-color: #{$text};
  --trj-theme-text-color-on-primary: #fff;
  --trj-link-color: #75beff;

  // for settings...
  --trj-theme-secondary-700-rgb: #{color.red($theme-secondary-700)} #{color.green(
      $theme-secondary-700
    )} #{color.blue($theme-secondary-700)};

  // scrollbar
  --trj-theme-scrollbar-background-color: #424242;
  --trj-theme-scrollbar-button-color: #cecece;
  --trj-theme-scrollbar-thumb: #686868;
  --trj-theme-scrollbar-thumb-hover: #7b7b7b;

  $scrollbar-button-color: #cecece;
  $scrollbar-button-color-hover: #fff;

  @include scrollbar($scrollbar-button-color, $scrollbar-button-color-hover);

  .color-picker .type-policy {
    /* stylelint-disable-next-line scss/no-global-function-names */
    filter: invert(1);
  }
}
