/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@use '@angular/material' as mat;
@use 'sass:color';
@use 'sass:map';
@import 'base-theme';
@import 'scrollbar-helper';

$trj-viewer-angular-light-primary: mat.define-palette(mat.$indigo-palette);
$trj-viewer-angular-light-secondary: mat.define-palette(mat.$gray-palette);
$trj-viewer-angular-light-accent: mat.define-palette(
  mat.$indigo-palette,
  200,
  100,
  400
);

// The warn palette is optional (defaults to red).
$trj-viewer-angular-light-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$trj-viewer-angular-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $trj-viewer-angular-light-primary,
      accent: $trj-viewer-angular-light-accent,
      warn: $trj-viewer-angular-light-warn,
    ),
    typography: $typography-config,
  )
);
$palette-color: map.get($trj-viewer-angular-light-theme, color);
$background: map.get($palette-color, background);
$text: map.get($palette-color, text);

// must be defined later as rgb...
$theme-secondary-700: mat.get-color-from-palette(
  $trj-viewer-angular-light-secondary,
  300
);

:root {
  --trj-theme-primary: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-primary
    )};
  --trj-theme-primary-100: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-primary,
      100
    )};
  --trj-theme-secondary-800: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-secondary,
      200
    )};
  --trj-theme-secondary-700: #{$theme-secondary-700};
  --trj-theme-secondary-600: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-secondary,
      400
    )};
  --trj-theme-background: #{map.get($background, 'background')};

  // defines the color of the menu strip & footer
  --trj-theme-secondary-background: #{map.get($background, 'card')};

  // defines the color of tab pages
  --trj-theme-tertiary-background: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-secondary,
      200
    )};
  --trj-theme-warn-500: #{mat.get-color-from-palette(
      $trj-viewer-angular-light-warn,
      500
    )};
  --trj-theme-color: #{$text};
  --trj-theme-text-color-on-primary: #fff;
  --trj-link-color: #2470b3;

  // for settings...
  --trj-theme-secondary-700-rgb: #{color.red($theme-secondary-700)} #{color.green(
      $theme-secondary-700
    )} #{color.blue($theme-secondary-700)};

  // scrollbar
  --trj-theme-scrollbar-background-color: #f1f1f1;
  --trj-theme-scrollbar-button-color: #cecece;
  --trj-theme-scrollbar-thumb: #c1c1c1;
  --trj-theme-scrollbar-thumb-hover: #a8a8a8;
}

$scrollbar-button-color: #626262;
$scrollbar-button-color-hover: #000;

@include scrollbar($scrollbar-button-color, $scrollbar-button-color-hover);
