/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

@use '@angular/material' as mat;
@use 'sass:map';

/**
 @source https://stackoverflow.com/a/69274355
 */
@function mat-set-background($theme, $backgroundColor) {
  $palette-color: map.get($theme, color);
  $background: map.get($palette-color, background);
  $background: map.merge(
    $background,
    (
      background: $backgroundColor,
    )
  );
  $palette-color: map.merge(
    $palette-color,
    (
      background: $background,
    )
  );

  @return map.merge(
    $theme,
    (
      color: $palette-color,
    )
  );
}
