/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

.footer {
  display: flex;
  flex-direction: row;
  padding: 0 1.5em;

  // TODO: mobil

  & > * {
    padding: 0.8em 0.2em;
  }

  .main-cell {
    flex: 1;
  }
}
