/*! * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  * Copyright (c) 2022.  Hochschule Stralsund – University of Applied Sciences
  * The following Code is licensed under the GNU General Public License (GPL) v3.0.
  * https://gitlab.com/wedemann-group/chromatin3d-visualizer/-/blob/master/LICENSE
  *
  * Corresponding Person:
  *     Prof. Gero Wedemann <gero.wedemann@hochschule-stralsund.de>
  *
  * Contributors:
  *     Leif-Kristof Schultz <contact@lui-studio.net>
  *     Frederic Bauer
  *     Janne Wernecken
  *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * **/

$golden-layout-background: var(--trj-theme-background);
$golden-layout-splitter: #adadad;
$golden-layout-tab-content-background: var(--trj-theme-secondary-background);
$golden-layout-tab-border: var(--trj-theme-secondary-600);
$golden-layout-tab-default-background: var(--trj-theme-background);
$golden-layout-tab-default-fore: var(--trj-theme-color);
$golden-layout-tab-active-background: $golden-layout-background;
$golden-layout-tab-active-fore: $golden-layout-tab-default-fore;
$golden-layout-tab-hover-background: var(--trj-theme-primary);
$golden-layout-tab-hover-fore: var(--trj-theme-text-color-on-primary);
$golden-layout-tab-focus-background: $golden-layout-tab-hover-background;
$golden-layout-tab-focus-fore: $golden-layout-tab-hover-fore;

$golden-layout-controls-default-fore: #828282;
$golden-layout-controls-hover-fore: var(--trj-theme-color);
$golden-layout-controls-close-button-hover: var(--trj-theme-warn-500);

// -----------------------------------------------------------------------
// ------ MAIN LAYOUT
// -----------------------------------------------------------------------
.lm_goldenlayout {
  background: $golden-layout-background;
}
.lm_content {
  background: $golden-layout-tab-content-background;
  border: 1px solid $golden-layout-tab-border;
  box-sizing: border-box;
}
.lm_dragProxy .lm_content {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.lm_dropTargetIndicator {
  box-shadow: inset 0 0 30px #000000;
  outline: 1px dashed #cccccc;
}
.lm_dropTargetIndicator .lm_inner {
  background: #000000;
  opacity: 0.2;
}
.lm_splitter {
  background: $golden-layout-splitter;
  opacity: 0.001;
  transition: opacity 200ms ease;
}
.lm_splitter:hover,
.lm_splitter.lm_dragging {
  background: $golden-layout-splitter;
  opacity: 1;
}

// -----------------------------------------------------------------------
// ------ TAB HEADER
// -----------------------------------------------------------------------
.lm_header {
  height: 20px;

  .lm_tabs {
    height: 100%;
  }

  .lm_tab {
    display: flex;
    background: $golden-layout-tab-default-background;
    height: unset;
    color: $golden-layout-tab-default-fore;
    align-items: center;
    margin-right: 2px;
    padding-top: 5px;
    font-size: 14px;
    border: 1px solid transparent;
    border-bottom: 0;
    transition: background-color 0.3s, color 0.2s;

    &:hover {
      background: $golden-layout-tab-hover-background !important;
      color: $golden-layout-tab-hover-fore !important;
    }

    &.lm_active {
      background: $golden-layout-tab-active-background;
      color: $golden-layout-tab-active-fore;
      border-color: $golden-layout-tab-border;

      &.lm_focused {
        background-color: $golden-layout-tab-focus-background;
        color: $golden-layout-tab-focus-fore;
      }
    }

    .lm_close_tab {
      display: flex;
      align-items: center;
      width: 20px;
      height: 20px;
      font-size: 16px;
      top: 3px;
      right: 2px;

      &:hover {
        color: $golden-layout-controls-close-button-hover;
      }

      &::after {
        font-family: Material Icons, sans-serif;
        content: 'close';
      }
    }

    &:not(.lm_active):not(.lm_focused) {
      background-color: $golden-layout-background;
    }
  }
}

// -----------------------------------------------------------------------
// ------ CONTROLS
// -----------------------------------------------------------------------

.lm_dragProxy.lm_bottom .lm_header .lm_tab,
.lm_stack.lm_bottom .lm_header .lm_tab {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.lm_selected .lm_header {
  background-color: #452500;
}

.lm_header .lm_controls .lm_tabdropdown::before {
  color: $golden-layout-controls-default-fore;
}
.lm_controls {
  color: $golden-layout-controls-default-fore;
  top: 5px;
}
.lm_header .lm_controls > * {
  font-size: 22px;
  width: 22px;
  height: 22px;
  transition: color 300ms ease;
}
.lm_controls > *:hover {
  color: $golden-layout-controls-hover-fore;
}
.lm_controls .lm_popout {
  display: none; // TODO workaround because new window needs routing
  // background-image: url("/assets/imgs/lm_popout_white.png");
}
.lm_controls .lm_maximise::after {
  content: 'crop_square';
  font-family: Material Icons, sans-serif;
}
.lm_controls .lm_close::after {
  content: 'close';
  font-family: Material Icons, sans-serif;
}
.lm_controls .lm_dock {
  // background-image: url("/assets/imgs/lm_docked_white.png");
  transform: rotate(-45deg);
  transition: transform 300ms;
}
.lm_stack.lm_docked .lm_controls .lm_dock {
  transform: rotate(0deg);
}
.lm_stack.lm_docked > .lm_items {
  border-color: #555555;
  border-image: linear-gradient(to right, #444444 1%, #999999 100%);
  box-shadow: 0 2px 2px #000000;
}

.lm_maximised {
  .lm_header {
    background-color: var(--trj-theme-primary-100);
  }

  .lm_controls {
    color: #666;

    .lm_maximise {
      transform: rotateX(180deg) rotateY(180deg);

      &::after {
        content: 'filter_none';
        font-family: Material Icons, sans-serif;
      }
    }
  }
}
.lm_transition_indicator {
  background-color: #000000;
  border: 1px dashed #555555;
}
.lm_popin {
  cursor: pointer;
}
.lm_popin .lm_bg {
  background: #ffffff;
  opacity: 0.3;
}
.lm_popin .lm_icon {
  // background-image: url("/assets/imgs/lm_popin_white.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  opacity: 0.7;
}
.lm_popin:hover .lm_icon {
  opacity: 1;
}
